{% extends "core/base.html" %}
{% load static %}

{% block title %}StoreFront{% endblock %}

{% block content%}
    <div class='grid grid-cols-4 mb-20 mt-6 px-20 rounded-xl gap-10'>
        <div class='col-span-2 row-start-1'>
            <h2 class='mb-5 text-5xl font-bold'>Store</h2>
            <p class='mb-7 text-teal-700'>The Products you Love | The Quality you Trust</p>
        </div>
        <div class='col-span-3 row-start-2 grid grid-cols-2 gap-5'>
            {% for item in items%}
                <div class='rounded-xl'>
                    <a href='#'>
                        <div class='bg-gray-500 rounded-xl'>
                            {% if item.isSale %}
                                <button class='m-5 p-2 rounded-lg bg-white '>Sale</button>
                            {% endif %}
                            {% if item.isNew %}
                            <button class='m-5 p-2 rounded-lg bg-red-300 '>New</button>
                            {% endif %}
                            <button class='m-5 p-2 rounded-lg bg-blue-300 '><p class='text-center'>{{ item.quantity }} Available</p></button>
                            <button class='m-5 p-2 rounded-lg bg-orange-300 '><p class='text-center'>Price: {{ item.price}}</p></button>
                            <img src='{% static '../../static/media/itemImages/item.png' %}' class='w-full h-full object-cover rounded-xl' alt='{{ item.name }}'></img>
                        </div>
                        <div class='py-5'>
                            <h2 class='text-3xl'>{{ item.name }}</h2>
                            <p class='text-lg'>{{item.description}}</p>                        
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class='row-start-1 row-span-2 col-start-4'>
        </div>
    </div>
{% endblock %}